<div style="position: relative;outline:none;">
    <input class="date-picker-input date-picker-white date-picker-width-small" value={{yearMonth}}/>
        
    {{svg-jar "calendar" width='24px' height='24px' class="date-picker-icon"}}

    {{#if show}}
    <div class="max-data-picker-container" focusOut={{action "close"}}> 
        <div class="max-data-picker-content">
            <div class="content-left">
                <div class="content-left-year cross-center mb-3 main-space-between">
                    <div onclick={{action "changeYear" "before"}} class="cursor-pointer before-year">{{svg-jar "down" width='24px' height='24px' class=""}}</div>
                    <span class="heading-small">{{curYear}}</span>
                    <div onclick={{action "changeYear" "after"}} class="cursor-pointer after-year">{{svg-jar "down" width='24px' height='24px' class=""}}</div>
                </div>
                <div class="content-left-month">
                    {{#each months as |month|}}
                        <div onclick={{action "selectMonth" month}} class={{if (bp-eq month curMonth) "active"}}>{{month}}月</div>
                    {{/each}}
                
                </div>
            </div>
            <div class="content-right mb-2 ml-3">
                {{#each dates as |d|}}
                    <button onclick={{action "selectDate" d}} class={{if (bp-eq curDate d) "active"}}>{{d}}</button>
                {{/each}}
            </div>
        </div>
        <div class="max-data-picker-btn">
            <button onclick={{action "close"}} class="button-subtle">取消</button>
            <button class="button-primary ml-1">确定</button>
        </div>
    </div>
    {{/if}}
</div>

